
<div>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <img src="https://lh3.googleusercontent.com/tSp_rN7Qa2VPfYxyEaahdI4qPi5EX-SmxtBey-a2kjjabN3u0EYzEQmAc9VcMaf7yYK6" width="200" height="100" alt="IntrCorp" class="logo">
  </div>



</div>

<div class="container">

<router-outlet></router-outlet>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
      <div class="col-12 col-md">
          <img src="https://lh3.googleusercontent.com/tSp_rN7Qa2VPfYxyEaahdI4qPi5EX-SmxtBey-a2kjjabN3u0EYzEQmAc9VcMaf7yYK6" alt="IntrCorp" width="200" height="100" class="logo" style="padding-left: 0px; margin-left: 0px;">
          <small class="d-block mb-3 text-muted">Todos los derechos reservados &copy; 2019-2020</small>
      </div>
  </div>
</footer>
</div>
